<h1>Your Cart</h1>
<% @cart.line_items.each do |line_item| %>
  <ul>
    <li>
      <%= link_to line_item.item.title, item_path(line_item.item) %> |
       $<%= line_item.item.price.to_f/100 %> |
        Quantity: <%= line_item.quantity %><br />
        <% if line_item.item %>
          <strong>
            There are only <%= line_item.item.inventory %> left in stock.
          </strong>
        <% end %>
    </li>
  </ul>
<% end %>
<p>Order total: <strong>$<%= @cart.total.to_f/100 %></strong> </p>
<%= button_to 'Checkout', checkout_path if current_user.current_cart %>
